body {
  font-family: Arial, sans-serif;
  background-color: #355E3B;
  margin: 0;
  padding: 0;
}

#quiz-container {
  background-color: white; /* White background for quiz area */
  color: black;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #355E3B; /* Dark green color for title and question heading */
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4d4d4d; /* Darker green on hover */
}

button.correct {
  background-color: #00cc00; /* Green for correct answers */
}

button.incorrect {
  background-color: #cc0000; /* Red for incorrect answers */
}

#results {
  margin-top: 20px;
  font-size: 1.2em;
}

.option {
  display: block; /* Each option on a separate line */
  color: black; /* Black text for response options */
  margin: 5px 0;
}

/* Separate styles for Previous, Next, and Submit buttons */
#previous {
  background-color: #355E3B; /* Hunter Green */
  color: white;
}

#next {
  background-color: #4d4d4d; /* Slightly dark grey */
  color: white;
}

#submit {
  background-color: #004d00; /* Dark green */
  color: white;
}
